@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-light {
        background-image: linear-gradient(to right top, #cfcfcf, #d6d6d6, #dddddd, #e4e4e4, #ebebeb);
    }
    .bg-dark {
        background-image: linear-gradient(to right top, #07184a, #1a2661, #2c3679, #3e4592, #5056ac);
    }
    .logo-light {
        background-image: url('/satis_light.svg');
    }
    .logo-dark {
        background-image: url('/satis_dark.svg');
    }
}

@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --scrollbar-bg: #fff;
        --scrollbar-thumb: #a8a8a8;
        --scrollbar-thumb-hover: #888;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --scrollbar-bg: #5056ac;
        --scrollbar-thumb: #3a438e;
        --scrollbar-thumb-hover: #2e3572;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 30px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}